<div class='chord-names-vis'
     ng-if='vm.width'
     ng-style='{"width": vm.width + "px",
                "margin-left": (-vm.width/2) + "px" }'>

    <div 
        ng-repeat='chord in vm.chords'
        class='chord-names-vis-chord'
        ng-style='{
            "opacity": vm.getChordOpacity(chord),
            "left": vm.getChordLeft($index, vm.chords.length),
            "bottom": vm.getChordBottom($index, vm.chords.length)
        }'>
        {{vm.getChordName(chord)}}
    </div>
</div>