.chord {
    margin: $grid-l 0;
}

.chord-keyboard {
    margin: $grid-s 0;
}

$note-height: 24px;
$note-width: 14px;
$sharp-note-height: 16px;
$sharp-note-width: 8px;
.note {
    @include inline-block(top);
    @include box-sizing(border-box);
    background: white;
    height: $note-height;
    width: $note-width;
    border: 1px solid black;
    cursor: pointer;

    &:hover {
        background: #ccc;
    }

    &.sharp-note {
        background: black;
        position: relative;
        height: $sharp-note-height;
        width: $sharp-note-width;
        margin-left: -$sharp-note-width;
        left: ($sharp-note-width/2);
        &:hover {
            background: #333;
        }
    }

    &.selected {
        background: #C00;
        &:hover {
            background: #900;
        }
    }
}
    .note-content {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }

    .note-button {
        background: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        display: block;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    $note-info-width: 50px;
    .note-info {
        display: none;
        position: absolute;
        width: $note-info-width;
        background: rgba(0,0,0, 0.8);
        top: 100%;
        margin-top: $grid-s;
        left: 50%;
        margin-left: -($note-info-width/2);
        z-index: $zIndex-blackNotesInChord;
        text-align: center;
        padding: $grid-m;
        .note:hover & {
            display: block;
        }
    }

    .chord-selector {
        position: relative;
    }
        .chord-selector-list {
            position: absolute;
            top: 20px;
            left: 0;
            background: white;
            z-index: $zIndex-chordSelector;
        }
            .chord-selector-list-item {
                display: block;
                width: 200px;
                color: black;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    background: #ddd;
                }
            }