.components-container {
    @include display-flex();
    @include justify-content(center);
    overflow: auto;
}

.component {
    padding: $grid-m;
    width: 100%;
    max-width: 1000px;
    min-width: 600px;
}

$components-selector-list-line-color: $light-blue;

.components-selector-list {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
}
    .component-selector {
        padding: 0 $grid-l;
        position: relative;
        @include display-flex();

        &.drag-over-accept {
            border-right: 2px solid $orange;
        }

        &:before {
            content: '';
            position: absolute;
            border: 1px solid $components-selector-list-line-color;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }

        &.is-first {
            padding-left: 2*$grid-l;
        }

        &.is-last {
            padding-right: 2*$grid-l;
        }
    }
    .component-selector-toggle {
        position: relative;
        z-index: 2;
        label {
            height: 35px;
            line-height: 35px;
            width: 35px;
            &:after {
                top: 14px;
                left: 13px;
            }
        }
    }
    .component-selector-icon {
        color: $components-selector-list-line-color;
        height: 2*$grid-l;
        line-height: 2*$grid-l - 4px;
        width: 2*$grid-l;
        border: 2px solid $components-selector-list-line-color;
        border-radius: 50%;
        text-align: center;

        &:after {
            font-family: entypo;
            font-size: 30px;
        }
    }
    .component-selector-icon-start {
        &:after {
            content: $icon-user;
        }
    }
    .component-selector-icon-end {
        &:after {
            content: $icon-megaphone;
        }
    }
    .component-selector-button {
        position: relative;
        z-index: 2;
        padding: $grid-m $grid-l;
        border: 0;
        outline: 0;
        border-radius: 0;
        color: white;
        background: $tile-background;
        cursor: pointer;
        border-bottom: 2px solid transparent;

        .is-active & {
            cursor: default;
            background: $ui-element-bg;
            border-color: $orange;
            &:hover {
                background: $ui-element-bg;
            }
        }

        &:hover {
            background: lighten($tile-background, 10);
        }
    }

    .add-component-container {
        position: relative;
    }
        .component-selector-button-trigger {
            display: inline-block;
        }
        .component-selector-button-hover {
            position: absolute;
            left: 0;
            top: 30px;
            display: none;

            .add-component-container:hover & {
                display: block;
            }
        }