.controls-hud {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
    .single-control-hud {
        @include inline-block;
        background: $dark-blue;
        width: 170px;
        position: relative;
        margin: 0 $grid-s;
    }
        .single-control-hud-content {
            // @include display-flex;
        }
            .single-control-hud-param {
                background: $ui-element-bg;
                // @include flex(1);
                display: block;
                padding: $grid-m;
                @include ellipsis();
            }
            .single-control-hud-gesture {
                // @include flex(1);
                display: block;
                padding: $grid-m;
                @include ellipsis();
            }
        .single-control-hud-value {
            height: 3px;
            background: $orange;
            position: absolute;
            top: 100%;
            left: 0;
        }