input {
    @include inline-block;
    border: 1px solid $background-color;
    padding: $grid-s;
    margin: 0;
    height: $grid-l + $grid-m;
    line-height: $grid-l + $grid-m;
    vertical-align: middle;
    outline: none;
}

button {
    outline: none;
}

.button {
    @include inline-block;
    padding: 0 $grid-m;
    margin: 0;
    height: $grid-l + $grid-m;
    line-height: $grid-l + $grid-m;
    vertical-align: middle;
    background: $background-color;
    border: 1px solid lighten($dark-blue, 10);
    color: white;
    cursor: pointer;
    &:hover {
        border: 1px solid lighten($dark-blue, 30);
    }
    &[disabled=disabled] {
        @include opacity(0.5);
    }
}

.big-button {
    padding: 0;
    border: 0;
    margin: 0;
    background: lighten($dark-blue, 5);
    text-align: center;
    cursor: pointer;
    color: white;
    &:hover {
        background: lighten($dark-blue, 15);
    }
    &[disabled=disabled], &.disabled {
        @include opacity(0.5);
    }
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: $grid-m;
    margin: $grid-m 0;
    border: none;
    padding: 0;
    background: $ui-element-bg;
    outline: none; /* no focus outline */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: $grid-l;
  height: $grid-l;
  border: none;
  border-radius: $grid-m;
  background: lighten($dark-blue, 15);
  cursor: pointer;
}