.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include display-flex;
    padding: $grid-m;
}
    song-selector {
        display: block;
        @include flex(1);
        margin-right: $grid-m;
    }
    synthoptions {
        display: block;
        @include flex(1);
        margin-right: $grid-m;
    }
    .logo {
        width: 120px;
        height: $header-height;
        position: relative;
    }