.main-selector {
    background: $dark-blue;
    position: relative;

    &.is-main-editor-open {
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: $grid-l;
            background: $dark-blue;
        }
    }
}