.oscillator {
}

    .oscillator-section {
        margin: 2*$grid-l 0;
        border-left: 2px solid $orange;
    }
        .oscillator-section-title {
            margin-bottom: $grid-l;
            padding: $grid-m;
            background: lighten($dark-blue, 5);
            @include display-flex;
            @include align-items(center);
        }
            .oscillator-section-title-full-left {
                @include flex(1);
            }
        .oscillator-section-content {
            padding-left: $grid-l;
        }

    .oscillator-snap-info {
        position: relative;
        height: 4*$grid-l;
    }
        .oscillator-snap-info-notes {
            display: block;
            height: 100%;
            position: absolute;
            bottom: 0;
        }
        $oscillator-snap-color-1: darken($orange, 20);
        $oscillator-snap-color-2: darken($orange, 40);
        .oscillator-snap-info-first-note {
            @extend .oscillator-snap-info-notes;
            background: $oscillator-snap-color-1;
            left: 0;
        }
        .oscillator-snap-info-middle {
            @extend .oscillator-snap-info-notes;
            // @include background-image(linear-gradient(left, $oscillator-snap-color-1, $oscillator-snap-color-2));
            background: linear-gradient(90deg, $oscillator-snap-color-1, $oscillator-snap-color-2);
        }
        .oscillator-snap-info-second-note {
            @extend .oscillator-snap-info-notes;
            background: $oscillator-snap-color-2;
            right: 0;
        }
    .oscillator-snap-range-picker {
        display: block;
        width: 100%;
    }

    .oscillator-nodes {
        height: 4*$grid-l;
        position: relative;
    }
        $oscillator-node-width: 4px;
        .oscillator-node {
            position: absolute;
            background: red;
            display: block;
            width: $oscillator-node-width;
            margin-left: -($oscillator-node-width/2);
            bottom: 0;
        }

.oscillator-fm {

}
    .oscillator-sub-section {
        margin-bottom: $grid-m;
    }
        .oscillator-sub-section-title {
            background: $ui-element-bg;
            padding: $grid-m;
            @include display-flex();
            @include align-items(center);
            margin-bottom: $grid-m;
        }
            .oscillator-sub-section-title-full-width {
                @include flex(1);

            }
        .oscillator-sub-section-content {
            padding-bottom: $grid-l;
            // border-bottom: 2px solid $ui-element-bg;
        }

.slider-with-value {
    @include display-flex();
    @include align-items(center);
}
    .slider-with-value-slider {
        @include flex(1);
    }
    .slider-with-value-label {
        margin-right: $grid-m;
    }
    .slider-with-value-value {
        margin-left: $grid-m;
    }