.response-function-details {
    @include display-flex;
    @include align-items(center);
    margin-top: $grid-m;
}
    .response-function-graph-container {
        margin-right: $grid-m;
        line-height: 100%;
    }
    .response-function-params {
        @include flex(1);
    }
        .response-function-graph {
            border: 1px solid black;
            background: $ui-element-bg;
            height: 80px;
            width: 102px;
            position: relative;
            @include inline-block;
        }
            .response-function-graph-value {
                background: linear-gradient(0deg, $oscillator-snap-color-1, $oscillator-snap-color-2);
                position: absolute;
                bottom: 0;
                min-height: 1px;
            }