.scaleoptions {
    background: $dark-blue;
}
    .scale-options-header {
        height: $header-height;
        padding: $grid-m $grid-l;
    }
        .scale-options-title {
            display: block;
            line-height: $header-height - 2*$grid-m;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
        }
    .scale-options-content {
        padding: $grid-m $grid-l;
    }