.scaleoptions {
    background: $dark-blue;
}
    .scale-options-header {
        height: $header-height;
        padding: $grid-m $grid-l;
    }
        .scale-options-title {
            display: block;
            background: none;
            height: 100%;
            width: 100%;
            line-height: 100%;
            vertical-align: middle;
            font-size: 24px;
        }
    .scale-options-content {
        position: relative;
        padding: $grid-m $grid-l;
    }
        .scale-options-close {
            position: absolute;
            top: $grid-m;
            right: $grid-m;
            height: 2*$grid-l;
            width: 2*$grid-l;
            &:after {
                font-family: entypo;
                content: '\274C';
                font-size: 68px;
                line-height: 2*$grid-l;
            }
        }