.song-editor {
    position: fixed;
    top: $header-height + 2*$grid-m;
    left: $grid-m;
    right: $grid-m;
    max-height: 90vh;
    min-height: 400px;
    overflow: auto;
    background: $dark-blue;
    z-index: 10;
    padding: $grid-l;
}
    .song-editor-song-name {
        width: 100%;
    }

    .song-editor-tools {
        position: absolute;
        top: $grid-l;
        right: $grid-l;

        .big-button {
            padding: $grid-m;
        }
    }
    .song-editor-content {
        width: 700px;
        max-width: 100%;
        margin: 0 auto;
    }
    .song-editor-chords-title {
        margin-top: 2*$grid-l;
    }

    .song-editor-chords {
        display: flex;
        margin: $grid-l 0;
        background: $background-color;
        padding: $grid-m;
        position: relative;
    }
        .song-editor-chord-container {
            position: relative;
            flex: 1;
        }
        .song-editor-chord {
            height: 8*$grid-l;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            padding: $grid-m;

            .song-editor-chords:hover & {
                opacity: 0.3;
            }

            .song-editor-chords:hover &:hover {
                opacity: 1;
            }

            &:before {
                display: block;
                content: '';
                position: absolute;
                background-color: $orange;
                width: $grid-m;
                left: 50%;
                top: 0;
                bottom: 0;
                margin-left: -$grid-s;
            }
        }
            .song-editor-chord-name {
                background: $ui-element-bg;
                padding: $grid-m;
                position: relative;
                // width: 4*$grid-m;
                text-align: center;

                &.is-chord-in-second-row {
                    margin-bottom: 40px;
                }
            }
            $song-editor-chord-tools-width: 150px;
            $song-editor-decorator-size: 10px;
            .song-editor-chord-tools {
                opacity: 0;
                transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
                visibility: hidden;
                z-index: 1;
                position: absolute;
                left: 50%;
                bottom: 95%;
                margin-left: -$song-editor-chord-tools-width/2;
                width: $song-editor-chord-tools-width;
                padding: $grid-m;
                background: $ui-element-bg;

                &:before {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    margin-bottom: -$song-editor-decorator-size;
                    margin-left: -$song-editor-decorator-size;
                    border-style: solid;
                    border-width: $song-editor-decorator-size $song-editor-decorator-size 0 $song-editor-decorator-size;
                    border-color: $ui-element-bg transparent transparent transparent;
                }

                .song-editor-chord:hover & {
                    visibility: visible;
                    opacity: 1;
                    transition-delay: 0s;
                    z-index: 2;
                }

                .big-button {
                    display:block;
                    padding: $grid-m;
                    margin-bottom: $grid-m;
                    width: 100%;
                    text-align: left;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:before {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: $grid-m;
                        font-size: 24px;
                    }
                }
            }
            .song-editor-pick-chord {
                @include icon-before($icon-search);
            }

            .song-editor-edit-chord {
                @include icon-before($icon-pencil);
            }

            .song-editor-remove-chord {
                @include icon-before($icon-cross);
            }

    $song-editor-add-chord-size: 3*$grid-m;
    .song-editor-add-chord {
        @extend .big-button;
        position: absolute;
        top: 100%;
        left: -$song-editor-add-chord-size/2;
        height: $song-editor-add-chord-size;
        line-height: $song-editor-add-chord-size;
        width: $song-editor-add-chord-size;
        text-align: center;
        font-size: 18px;
    }
        $song-editor-add-chord-popup-decorator-size: 10px;
        $song-editor-add-chord-popup-width: 100px;
        .song-editor-add-chord-popover {
            opacity: 0;
            transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
            visibility: hidden;
            z-index: 1;
            position: absolute;
            left: 50%;
            bottom: 100%;
            margin-left: -$song-editor-add-chord-popup-width/2;
            width: $song-editor-add-chord-popup-width;
            padding: $grid-s;
            background: $ui-element-bg;
            font-size: 12px;

            &:before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-bottom: -$song-editor-add-chord-popup-decorator-size;
                margin-left: -$song-editor-add-chord-popup-decorator-size;
                border-style: solid;
                border-width: $song-editor-add-chord-popup-decorator-size $song-editor-add-chord-popup-decorator-size 0 $song-editor-add-chord-popup-decorator-size;
                border-color: $ui-element-bg transparent transparent transparent;
            }

            .song-editor-add-chord:hover & {
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
                z-index: 2;
            }
        }

    .song-editor-add-chord-last {
        left: auto;
        right: -$song-editor-add-chord-size/2;
        margin-top: -$grid-m;
        margin-right: $grid-m;
    }