.soundgenerator {
    display: block;
    position: absolute;
    bottom: $grid-m;
    right: $grid-m;
    @extend .tile;
}
    .soundgenerator-chord {
        margin-left: $grid-m;
    }
    .soundgenerator-note {
        margin-left: $grid-m;
    }