.synthoptions {
    background: $dark-blue;
}
    .synthoptions-content-header {
        height: $header-height - $grid-m;
        padding-bottom: $grid-m;
    }
    .synthoptions-content-body {
        position: fixed;
        top: $header-height + 2*$grid-m;
        left: $grid-m;
        right: $grid-m;
        max-height: 90vh;
        overflow: auto;
        background: $dark-blue;
        z-index: 10;
    }
        .synthoptions-content-presets {
            padding: 2*$grid-l;
            padding-bottom: 0;
        }
        .synthoptions-content-columns {
            @include display-flex;
        }
            .synthoptions-content-column {
                padding: 2*$grid-l;
                @include flex(1);
            }
            .synthoptions-content-components {
                @extend .synthoptions-content-column;
            }
            .synthoptions-content-controls {
                @extend .synthoptions-content-column;
            }
                .synthoptions-content-column-title {
                    margin-bottom: $grid-l;
                    padding-bottom: $grid-s;
                    border-bottom: 2px solid lighten($dark-blue, 30);
                    font-size: 24px;
                }
                .synthoptions-content-controls-add-control {
                    text-align: center;
                    .big-button {
                        height: 2*$grid-l;
                        padding: $grid-m;
                    }
                }
        .synthoptions-midi-output-selector {
            @include inline-block;
            width: 300px;
            margin-left: $grid-l;
        }