// colors
$dark-blue: #252c36;
$background-color: #1a1b1d;
$orange: #f17752;
$tile-background: #3d484e;
$text-color: #eee;
$ui-element-bg: #232528;
// z-indexes
$zIndex-chesirecanvas: -1;
$zIndex-papercanvas: -1;
$zIndex-blackNotesInChord: 15;
$zIndex-chordSelector: 30;

// layout
$header-height: 75px;
$min-label-width: 100px;