<div class='song-editor'>

    <div class='song-editor-content'>

        <div class='song-editor-tools'>
            <button
                class='big-button song-editor-save'
                ng-click='vm.saveSongToFile()'
                ng-if='vm.fileSaver.isAvailable()'>
                Save to file
            </button>
            <file-loader
                on-load='vm.songLoaded'></file-loader>
            <button
                class='big-button song-editor-save'
                ng-click='vm.saveSong()'
                ng-disabled='!vm.song.$isModified'>
                Save
            </button>
            <button
                class='big-button song-editor-delete'
                ng-click='vm.askConfirmationDeleteSong()'
                ng-show='!vm.confirmingDeleteSong'
                >
                Delete song
            </button>
            <div class='song-editor-delete-confirm' ng-show='vm.confirmingDeleteSong'>
                Are you sure you want to delete this song?
                <button class='big button' ng-click='vm.deleteSong()'>Delete!</button>
                <button class='big button' ng-click='vm.cancelDeleteSong()'>Cancel</button>
            </div>
        </div>


        <div class='generic-section'>
            <h3 class='generic-section-title'>
                Song name
            </h3>
            <div class='generic-section-content'>
                <input type='text' class='song-editor-song-name'
                       ng-model='vm.song.name'
                       ng-model-options="{ debounce: 500 }"
                       ng-change='vm.songNameChanged()'>
            </div>
        </div>

        <div class='generic-section'>
            <h3 class='generic-section-title'>
                Parts
            </h3>
        </div>
        <song-parts-list-editor song='vm.song'></song-parts-list-editor>
        <song-part-editor></song-part-editor>

    </div>

</div>