<div class='song-editor'>

    <div class='song-editor-tools'>
        <button
            class='big-button'
            ng-click='vm.saveSong()'
            ng-disabled=''>
            Save
        </button>
        <button
            class='big-button'
            ng-click='vm.deleteSong()'
            ng-disabled=''>
            Delete song
        </button>
    </div>

    <div class='song-editor-content'>

        <div class='generic-section'>
            <h3 class='generic-section-title'>
                Song name
            </h3>
            <div class='generic-section-content'>
                <input type='text' ng-model='vm.song.name'>
            </div>
        </div>

        <div class='generic-section'>
            <h3 class='generic-section-title'>
                Chords
            </h3>
            <div class='generic-section-content'>
                <div class='song-editor-chords'>
                    <div class='song-editor-chord-container' ng-repeat='chord in vm.song.chords'>

                        <button class='song-editor-add-chord' ng-click='vm.addChordBefore($index)'>+</button>

                        <div class='song-editor-chord'>
                            <div class='song-editor-chord-name'
                                 ng-class='{"is-chord-in-second-row": vm.isChordInSecondRow($index)}'>
                                {{vm.getChordName(chord)}}
                            </div>
                            <div class='song-editor-chord-tools'>
                                <button class='big-button song-editor-pick-chord' ng-click='vm.pickChord($index, vm.song.chords)'>Pick chord</button>
                                <button class='big-button song-editor-edit-chord' ng-click='vm.editChord($index, vm.song.chords)'>Edit chord</button>
                                <button class='big-button song-editor-remove-chord' ng-click='vm.removeChord($index, vm.song.chords)'>Remove chord</button>
                            </div>
                        </div>
                    </div>

                    <button class='song-editor-add-chord song-editor-add-chord-last' ng-click='vm.addChordLast()'>+</button>
                </div>
            </div>
        </div>

    </div>

</div>