<div>
    <h4>Frequency rate</h4>
    <input
        ng-change='vm.componentChanged()'
        ng-model-options="{ debounce: 500 }"
        type="range"
        min="0.25"
        max="24"
        step="0.25"
        ng-model="vm.component.freq"/>
    {{vm.component.freq | number:2}}

    <h4>Depth</h4>
    <button class='button' ng-click='vm.toggleDepthControl()'>
        <span ng-show='vm.component.controls.depth.enabled'>Disable</span>
        <span ng-show='!vm.component.controls.depth.enabled'>Enable</span>
        gesture control
    </button>

    <div class='oscillator-section-content' ng-show='vm.component.controls.depth.enabled'>
        <gesture-selector
            gesture-object='vm.component.controls.depth'
            change-callback='vm.componentChanged()'></gesture-selector>
    </div>
    <div class='oscillator-section-content' ng-show='!vm.component.controls.depth.enabled'>
        <input
            ng-change='vm.componentChanged()'
            ng-model-options="{ debounce: 500 }"
            type="range"
            min="0"
            max="1"
            step="0.01"
            ng-model="vm.component.depth"/>
        {{vm.component.depth | number:2}}
    </div>

    <h4>Pre-modulator</h4>
    <button class='button' ng-click='vm.togglePreModulator()'>
        <span ng-show='vm.component.preModulator.enabled'>Disable</span>
        <span ng-show='!vm.component.preModulator.enabled'>Enable</span>
        pre-modulator
    </button>
    <div ng-show='vm.component.preModulator.enabled'>
        <h5>Depth</h5>
        <input
            ng-change='vm.componentChanged()'
            ng-model-options="{ debounce: 500 }"
            type="range"
            min="0"
            max="1"
            step="0.01"
            ng-model="vm.component.preModulator.depth"/>
        {{vm.component.preModulator.depth | number:2}}
        <h5>Frequency rate</h5>
        <input
            ng-change='vm.componentChanged()'
            ng-model-options="{ debounce: 500 }"
            type="range"
            min="0.25"
            max="24"
            step="0.25"
            ng-model="vm.component.preModulator.freq"/>
        {{vm.component.preModulator.freq | number:2}}
    </div>

</div>