<div class='synthoptions-audio'>

    <components-list></components-list>

    <div ng-class='{
            "is-active": !vm.componentsList.getActiveItem()
        }'>
        <button
            class='component-selector-button'
            ng-click='vm.componentsList.setActiveItem(null)'>Main settings</button>
    </div>

    <div class='add-component-container'>
        <div class='component-selector-button component-selector-button-trigger'>Add component</div>
        <div class='component-selector-button-hover'>
            <button class='component-selector-button'
                ng-repeat='component in vm.availableComponents'
                ng-click='vm.addComponent(component)'
                >{{component.name}}</button>
        </div>
    </div>

    <div class='components-container'>

        <oscillator-audio-options class='component'
                                  ng-show='!vm.componentsList.getActiveItem()'>
        </oscillator-audio-options>

        <div class='component'
             ng-repeat='component in vm.components'
             ng-show='vm.componentsList.getActiveItem() === component'
             >
            <synthcomponent component-info='component'></synthcomponent>
        </div>


        <div class='component'
            ng-repeat='oscillator in vm.audioSynthOptions.oscillators'
            ng-show='vm.componentsList.getActiveItem() === oscillator'>
            <oscillator oscillator-config='oscillator'></oscillator>
        </div>

        <div class='component'
            ng-repeat='noise in vm.audioSynthOptions.noises'
            ng-show='vm.componentsList.getActiveItem() === noise'>
            <noise-generator noise-config='noise'></noise-generator>
        </div>


    </div>
</div>
