<div class='synthoptions-audio'>

    <components-list></components-list>

    <div class='line-right'>
        <div class='dropdown-menu'>
            <div class='dropdown-menu-toggle'>Add component</div>
            <div class='dropdown-menu-content'>
                <button class='dropdown-menu-item'
                        ng-click='vm.addOscillator()'>
                    Add oscillator
                </button>
                <button class='dropdown-menu-item'
                        ng-click='vm.addNoise()'>
                    Add noise
                </button>
                <button class='dropdown-menu-item'
                        ng-repeat='component in vm.availableComponents'
                        ng-click='vm.addComponent(component)'>
                    Add {{component.name}}
                </button>
            </div>
        </div>
    </div>

    <div class='components-container'>

        <oscillator-audio-options class='component'
                                  ng-show='!vm.componentsList.getActiveItem()'>
        </oscillator-audio-options>

        <div class='component'
             ng-repeat='component in vm.components'
             ng-show='vm.componentsList.getActiveItem() === component'
             >
            <synthcomponent component-info='component'></synthcomponent>
        </div>

        <div class='component'
            ng-repeat='oscillator in vm.audioSynthOptions.oscillators'
            ng-show='vm.componentsList.getActiveItem() === oscillator'>
            <oscillator oscillator-config='oscillator'></oscillator>
        </div>

        <div ng-repeat='oscillator in vm.audioSynthOptions.oscillators'>
            <div class='component'
                 ng-repeat='component in oscillator.components'
                 ng-show='vm.componentsList.getActiveItem() === component'>
                <synthcomponent component-info='component'></synthcomponent>
            </div>
        </div>

        <div class='component'
            ng-repeat='noise in vm.audioSynthOptions.noises'
            ng-show='vm.componentsList.getActiveItem() === noise'>
            <noise-generator noise-config='noise'></noise-generator>
        </div>

        <div ng-repeat='noise in vm.audioSynthOptions.noises'>
            <div class='component'
                 ng-repeat='component in noise.components'
                 ng-show='vm.componentsList.getActiveItem() === component'>
                <synthcomponent component-info='component'></synthcomponent>
            </div>
        </div>


    </div>
</div>
