<div class='synthoptions'>
    <div class='config-menu-header' ng-class='{"all-synths-list-expanded": listOfSynthsExpanded}' ng-hide='expanded'>
        <button class='big-button config-menu-title' ng-click='toggle()'>
            {{synthoptions.name || "No name"}}
            <span class='config-menu-title-decorator'></span>
        </button>
        <button class='big-button config-menu-list-toggle' ng-click='toggleListOfSynths()'></button>
        <ul class='config-menu-list' ng-show='listOfSynthsExpanded'>
            <li class='config-menu-list-item' ng-repeat='synth in availableSynths'>
                <a class='config-menu-list-item-link' ng-click='selectSynth(synth)'>{{synth.name}}</a>
            </li>
        </ul>
    </div>
    <div class='config-menu-content synthoptions-content' ng-show='expanded'>
        <div class='synthoptions-content-header'>
            <button class='big-button config-menu-title' ng-click='toggle()'>
                {{synthoptions.name || "No name"}}
                <span class='config-menu-title-decorator'></span>
            </button>
        </div>
        <div class='synthoptions-content-body'>
            <div class='synthoptions-content-presets'>
                <input type='text' ng-model='synthoptions.name'/>
                <button class='button' ng-click='saveSynth()' ng-disabled='!synthoptions.name'>Save synth</button>
                <button class='button' ng-click='deleteSynth()'>Delete synth</button>
                <button class='big-button config-menu-close' ng-click='toggle()'></button>
            </div>
            <div class='synthoptions-content-columns'>
                <div class='synthoptions-content-components'>
                    <h2 class='synthoptions-content-column-title'>Note generation</h2>
                        <div class='oscillator-section'>
                            <h4 class='oscillator-section-title'>Output mode</h4>
                            <div class='oscillator-section-content'>
                                <switch-two-values values='outputModes' ng-model='synthoptions.outputMode'></switch-two-values>
                            </div>
                        </div>
                    <ul>
                        <li ng-repeat='component in synthoptions.components'>
                            <synthcomponent component-info='component'></synthcomponent>
                        </li>
                    </ul>
                </div>
                <div class='synthoptions-content-controls'>
                    <h2 class='synthoptions-content-column-title'>Additional controls</h2>
                    <ul class='synthoptions-midi-controls'>
                        <li ng-repeat='control in synthoptions.controls'>
                            <control control-info='control'></control>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>