<div class='synthoptions'>
    <div class='config-menu-header' ng-hide='vm.expanded'>
        <button class='big-button config-menu-title' ng-click='vm.toggle()'>
            {{vm.synthOptions.name || "No name"}}
            <span class='config-menu-title-decorator'></span>
        </button>
    </div>
    <div class='config-menu-content synthoptions-content' ng-show='vm.expanded'>
        <div class='synthoptions-content-header'>
            <button class='big-button config-menu-title' ng-click='vm.toggle()'>
                {{vm.synthOptions.name || "No name"}}
                <span class='config-menu-title-decorator'></span>
            </button>
        </div>
        <div class='synthoptions-content-body'>

            <div class='oscillator-section'>
                <h4 class='oscillator-section-title'>Output mode</h4>
                <div class='oscillator-section-content'>
                    <switch-two-values
                        values='vm.outputModes'
                        ng-model='vm.synthOptions.outputMode'
                        change-callback='vm.outputModeChanged()'></switch-two-values>
                </div>
            </div>

            <synthoptions-midi synthoptions='vm.synthOptions' ng-if='vm.synthOptions.isMidiOutput()' ></synthoptions-midi>
            
            <synthoptions-audio synthoptions='vm.synthOptions' ng-if='vm.synthOptions.isAudioOutput()' ></synthoptions-audio>
        </div>
    </div>
</div>