<div class='song-selector'>
    
    <div class='config-menu-header' ng-if='vm.loadingFirstSong'>
        <button class='big-button config-menu-title'>Loading...</button>
    </div>

    <div class='config-menu-header' ng-if='!vm.loadingFirstSong'>

        <button class='big-button config-menu-button config-menu-prev'></button>

        <button class='big-button config-menu-title' ng-click='vm.toggleSongList()'>
            {{vm.currentSong.name || 'No name'}}
        </button>

        <button class='big-button config-menu-button config-menu-next'></button>
        <button class='big-button config-menu-button config-menu-config'></button>

        <song-list ng-show='vm.showSongList' ng-click='vm.toggleSongList()' songs='vm.songs'></song-list>
    </div>
    <div class='config-menu-content' ng-show='expanded'  ng-if='!vm.loadingFirstSong'>
        
    </div>


</div>