<div class='main-selector song-selector' ng-class='{"is-main-editor-open": vm.songEditorShown}'>

    <div class='config-menu-header' ng-if='vm.loadingFirstSong'>
        <button class='big-button config-menu-title'>Loading...</button>
    </div>

    <div class='config-menu-header' ng-if='!vm.loadingFirstSong'>

        <button
            class='big-button config-menu-button config-menu-prev'
            ng-click='vm.goToPrevSong()'
            ng-disabled='!vm.songs || (vm.indexOfSelectedSong <= 0)'></button>

        <button class='big-button config-menu-title' ng-click='vm.toggleSongList()'>
            {{vm.currentSong.name || 'No name'}}
        </button>

        <button 
                class='big-button config-menu-button config-menu-next'
                ng-click='vm.goToNextSong()'
                ng-disabled='!vm.songs || (vm.indexOfSelectedSong >= (vm.songs.length - 1)) '></button>
        
        <button class='big-button config-menu-button config-menu-config' ng-click='vm.toggleSongEditor()'></button>

        <song-list ng-show='vm.showSongList' ng-click='vm.toggleSongList()' songs='vm.songs' selected-song='vm.currentSong'></song-list>
    </div>
    <song-editor song='vm.currentSong' ng-show='vm.songEditorShown'></song-editor>

    <chord-editor></chord-editor>
    <chord-selector></chord-selector>

    <song-parts-list-hud song='vm.currentSong' ng-show='!vm.songEditorShown && !vm.showSongList'></song-parts-list-hud>
</div>