<div class="midigenerator">
    <ul>
        <li ng-repeat="midiOutput in midiOutputs">
            {{midiOutput.name}}
        </li>
    </ul>
    <ul>
        <li ng-repeat="note in notesBeingPlayed">
            {{note.name}} - {{note.unnormalizedGain}}
        </li>
    </ul>
    <p>last notesOn</p>
    <ul>
        <li ng-repeat="note in lastNotesOn">
            {{note.name}} - {{note.unnormalizedGain}}
        </li>
    </ul>
    <p>notesOff</p>
    <ul>
        <li ng-repeat="note in lastNotesOff">
            {{note.name}} - {{note.unnormalizedGain}}
        </li>
    </ul>
    

    <p>notesUpdate</p>
    <ul>
        <li ng-repeat="note in notesUpdate">
            {{note.name}} - {{note.unnormalizedGain}}
        </li>
    </ul>
</div>

