<div class='response-function'>

    <select-box
        value='vm.selectedResponseFunction'
        value-list='vm.availableResponseFunctions'
        attr-to-show='name'
        change-callback='vm.responseFunctionChanged()'></select-box>
    <div class='response-function-details'>
        <div class='response-function-graph-container'>
            <ul class='response-function-graph'>
                <li
                    ng-repeat='responseValue in vm.responseFunctionValues'
                    class='response-function-graph-value'
                    style='width: {{100*vm.responseFunctionIncrement}}%;
                           left:  {{100*responseValue.x}}%;
                           height: {{100*responseValue.y}}%;'
                ></li>
            </ul>
        </div>
        <ul class='response-function-params'>
            <li ng-repeat='(key, param) in vm.selectedResponseFunction.params'>
                <response-function-param
                    param-parent-object='vm.responseFunctionInfo'
                    param-key='key'
                    param-info='param'
                    change-callback='vm.responseFunctionParamsChanged()'
                    ></response-function-param>
            </li>
        </ul>
    </div>
</div>
