<div class='oscillator'>

    <div
        class='oscillator-type oscillator-section'
        ng-hide='isMidiOutput()' >
        {{componentInfo.oscillatorType}}
        <button class='' ng-click='toggleListOfOscillatorType()'></button>
        <ul class='oscillator-type-list' ng-show='listOfOscillatorTypeExpanded'>
            <li class='oscillator-type-list'
                ng-repeat='availableOscillator in AvailableOscillators | filter:"!"+componentInfo.oscillatorType'>
                <a ng-click='changeOscillatorType(availableOscillator)'>[{{availableOscillator}}]</a>
            </li>
        </ul>
    </div>

    <div class='oscillator-snap oscillator-section'>
        <oscillator-snap component-info='componentInfo'></oscillator-snap>
    </div>

    <div class='oscillator-transition oscillator-section' ng-hide='isMidiOutput()'>
        <h4>Transition between chords</h4>
        <switch-two-values values='transitionTypes' ng-model='componentInfo.transitionType'></switch-two-values>
    </div>

    <div class='oscillator-nodes-info oscillator-section'>
        <h4>Frequencies being played</h4>
        <ul class='oscillator-nodes'>
            <li ng-repeat='node in oscillatorNodes'
                class='oscillator-node'
                style='left: {{node.oscillator.frequency.value | frequencyToPercentage}}%; height: {{node.gainNode.gain.value * synthComponent.gainController.gain.value * 100}}%'>
            </li>
        </ul>
    </div>
    <gesture-selector gesture-object='gainControllerInfo'></gesture-selector>
</div>
