<div class='oscillator'>

    <div ng-if='!!vm.oscillatorConfig' class='row' >
        <div class='column'>
            <div class='oscillator-section'>
                <h4 class='oscillator-section-title'>Oscillator type</h4>
                <div class='oscillator-section-content'>
                    <select-box
                        value='vm.oscillatorConfig.oscillatorType'
                        value-list='vm.availableOscillators'
                        change-callback='vm.notifyOscillatorOptionsChangedThrottled()'></select-box>
                </div>
                <oscillator-wave-selector
                    ng-if='vm.oscillatorConfig.oscillatorType === "custom"'
                    config='vm.oscillatorConfig'
                    change-callback='vm.notifyOscillatorOptionsChangedThrottled()'
                ></oscillator-wave-selector>
            </div>

            <div class='oscillator-section'>
                <h4 class='oscillator-section-title'>
                    <div class='oscillator-section-title-full-left'>
                        Freq Modulation
                    </div>

                    <custom-checkbox
                        value='vm.oscillatorConfig.fm.enabled'
                        change-callback='vm.fmToggle()'></custom-checkbox>
                </h4>
                <div class='oscillator-section-content' ng-show='vm.oscillatorConfig.fm.enabled'>
                    <oscillator-fm
                        component='vm.oscillatorConfig.fm'
                        change-callback='vm.notifyOscillatorOptionsChangedThrottled()'
                        ></oscillator-fm>
                </div>
            </div>
        </div>
        <div class='column'>
            <div class='oscillator-section'>
                <div class='oscillator-section-title'>
                    <h4 class='oscillator-section-title-full-left'>Volume control</h4>
                    <button class='button'
                        ng-click='vm.toggleGainControl()'>
                        <span ng-show='vm.oscillatorConfig.controls.gain.enabled'>Disable</span>
                        <span ng-show='!vm.oscillatorConfig.controls.gain.enabled'>Enable</span>
                        gesture control
                    </button>
                </div>

                <div class='oscillator-section-content'
                     ng-show='vm.oscillatorConfig.controls.gain.enabled'>
                    <gesture-selector
                        gesture-object='vm.oscillatorConfig.controls.gain'
                        change-callback='vm.gainControllerInfoChanged()'></gesture-selector>
                </div>

                <div class='oscillator-section-content'
                     ng-show='!vm.oscillatorConfig.controls.gain.enabled'>

                    <div class='slider-with-value'>
                        <input
                            class='slider-with-value-slider'
                            ng-change='vm.gainControllerInfoChanged()'
                            ng-model-options="{ debounce: 500 }"
                            type="range"
                            min="0"
                            max="1"
                            step="0.01"
                            ng-model="vm.oscillatorConfig.gain"/>
                        <div class='slider-with-value-value'>
                            {{vm.oscillatorConfig.gain*100 | number:0}}%
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
