<ul class='chord'>
    <li class='note'
        ng-class='{"sharp-note": (note.name.indexOf("#")!==-1)
                    , "selected": note.selected}'
        ng-repeat='note in allNotes'
    >
        <div class='note-content'>
            <button ng-click='selectNote(note.name)' class='note-button'></button>
            <div class='note-info'>
                {{note.name}}
            </div>
        </div>
    </li>
</ul>
<div class='chord-tools'>
    <div ng-show='chordAlreadyExisting'>
        <select
            ng-model='chordInfo'
            ng-options='c.name for c in allChords' 
        >
        </select>
    </div>
    <div ng-hide='chordAlreadyExisting'>
        <input ng-model='chordInfo.name' />
    </div>
    <button ng-click='saveChord()'>Save chord</button>
    <button ng-click='deleteChord()'>Delete chord</button>
</div>
