<span>{{gestureObject.param}}</span>
<button class='big-button config-menu-list-toggle' ng-click='toggleGestureList()'></button>
<ul class='config-menu-list' ng-show='gestureListExpanded'>
    <li class='config-menu-list-item' ng-repeat='gesture in availableGestures'>
        <a class='config-menu-list-item-link' ng-click='selectGesture(gesture)'>{{gesture}}</a>
    </li>
</ul>

<!-- TODO: extract this to a responseFunction directive? -->
<div>
    <p> Min = {{gestureObject.responseFunction.min}}</p>
    <input type="range" min="0" max="{{gestureObject.responseFunction.max - 0.01}}" step="0.01" ng-model="gestureObject.responseFunction.min"/>
</div>
<div>
    <p> Max = {{gestureObject.responseFunction.max}}</p>
    <input type="range" min="{{gestureObject.responseFunction.min + 0.01}}" max="1" step="0.01" ng-model="gestureObject.responseFunction.max"/>
</div>
<label>
    <input type='checkbox' ng-model="gestureObject.responseFunction.inverse" />
    Inverse
</label>

<div>
    <span>{{gestureObject.responseFunction.name}}</span>
    <button class='big-button config-menu-list-toggle' ng-click='toggleResponseFunctionList()'></button>
    <ul class='config-menu-list' ng-show='responseFunctionListExpanded'>
        <li class='config-menu-list-item' ng-repeat='responseFunction in availableResponseFunctions'>
            <a class='config-menu-list-item-link' ng-click='selectResponseFunction(responseFunction)'>{{responseFunction.name}}</a>
        </li>
    </ul>
</div>