<!-- Sound options -->
<synthoptions synthoptions='synthoptions'></synthoptions>
<!-- Scale options -->
<!-- TODO -->
<!-- Config -->
<!-- TODO -->

<!-- Background visualization -->
<!-- <papercanvas chesirescale='chesirescale'></papercanvas> -->
<!-- <pixicanvas></pixicanvas> -->
<!-- <chesirecanvas></chesirecanvas> -->
<threeparticles chesirescale='chesirescale'></threeparticles>

<!-- Sound generator -->
<soundgenerator synthoptions='synthoptions' chesirescale='chesirescale' currentsound='currentsound'></soundgenerator>

<!-- Stats -->
<stats synthoptions='synthoptions' chesirescale='chesirescale' currentsound='currentsound'></stats>