<div class='header'>
    <!-- Scale options -->
    <scaleoptions></scaleoptions>

    <!-- Sound options -->
    <synthoptions></synthoptions>

    <div class='logo'></div>
    <!-- Config -->
    <!-- TODO -->
</div>

<!-- Background visualization -->
<!-- <papercanvas></papercanvas> -->
<!-- <pixicanvas></pixicanvas> -->
<!-- <chesirecanvas></chesirecanvas> -->
<threeparticles></threeparticles>

<!-- Sound generator -->
<soundgenerator></soundgenerator>

<midigenerator></midigenerator>

<!-- Stats -->
<!-- <stats></stats> -->