<div class='oscillator'>

    <h3>{{componentInfo.type}}</h3>

    <div class='oscillator-snap-info'>
        <div class='oscillator-snap-info-first-note'
             style='width: {{100*componentInfo.snapDistance}}%;'></div>
        <div class='oscillator-snap-info-middle'
             style='width: {{100*(1 - 2*componentInfo.snapDistance)}}%; left: {{100*componentInfo.snapDistance}}%'></div>
        <div class='oscillator-snap-info-second-note'
             style='width: {{100*componentInfo.snapDistance}}%'></div>
    </div>

    <ul class='oscillator-nodes'>
        <li ng-repeat='node in oscillatorNodes'
            class='oscillator-node'
            style='left: {{node.oscillator.frequency.value | frequencyToPercentage}}%; height: {{node.gainNode.gain.value * synthComponent.gainController.gain.value * 100}}%'>
        </li>
    </ul>
</div>
