<div class='scaleoptions'>
    <div class='scale-options-header' ng-hide='expanded'>
        <a  class='scale-options-title' ng-click='toggle()'>{{currentScale.name}}</a>
    </div>
    <div class='scale-options-content' ng-show='expanded'>
        <a  class='scale-options-title' ng-click='toggle()'>{{currentScale.name}}</a>
        <ul>
            <li ng-repeat='chord in currentScale.chords'>
                <chord
                    chord-info='chord'
                    chord-index='$index'
                    chords-array='currentScale.chords',
                    on-chord-change='onChordChange'>
                </chord>
            </li>
        </ul>
    </div>
</div>
