<div class='synthoptions'>
    <div class='config-menu-header' ng-class='{"all-synths-list-expanded": listOfSynthsExpanded}' ng-hide='expanded'>
        <button class='big-button config-menu-title' ng-click='toggle()'>
            {{synthoptions.name || "No name"}}
            <span class='config-menu-title-decorator'></span>
        </button>
        <button class='big-button config-menu-list-toggle' ng-click='toggleListOfSynths()'></button>
        <ul class='config-menu-list' ng-show='listOfSynthsExpanded'>
            <li class='config-menu-list-item' ng-repeat='synth in availableSynths'>
                <a class='config-menu-list-item-link' ng-click='selectSynth(synth)'>{{synth.name}}</a>
            </li>
        </ul>
    </div>
    <div class='config-menu-content synthoptions-content' ng-show='expanded'>
        <div class='synthoptions-content-header'>
            <button class='big-button config-menu-title' ng-click='toggle()'>
                {{synthoptions.name || "No name"}}
                <span class='config-menu-title-decorator'></span>
            </button>
        </div>
        <div class='synthoptions-content-body'>
            <input type='text' ng-model='synthoptions.name'/>
            <button class='button' ng-click='saveSynth()' ng-disabled='!synthoptions.name'>Save synth</button>
            <button class='button' ng-click='deleteSynth()'>Delete synth</button>
            <button class='big-button config-menu-close' ng-click='toggle()'></button>
            <switch-two-values values='outputModes' ng-model='synthoptions.outputMode'></switch-two-values>
            <ul>
                <li ng-repeat='component in synthoptions.components'>
                    <synthcomponent component-info='component'>
                </li>
            </ul>
        </div>
    </div>
</div>